.cloud.cloud-far.cloud-1
  .cloud-left.cloud-segment
  .cloud-middle.cloud-segment
  .cloud-bottom.cloud-segment

.cloud.cloud-far.cloud-2
  .cloud-left.cloud-segment
  .cloud-middle.cloud-segment
  .cloud-bottom.cloud-segment

.speed-container
  .speed.speed-left
  .speed.speed-right

.cat-container
  .cat
    .ear-back
    .leg.leg-back
      .leg-inner
    .paw.paw-back
      .paw-inner
    .body
      .tummy
      .eye-mark
      .eye.eye-left
      .eye.eye-right
      .mouth.mouth-right
      .mouth.mouth-left
      .nose
    .ear-front
      .ear-inner
    .leg.leg-front
      .leg-inner
    .paw.paw-front
      .paw-inner
      
.cloud.cloud-close.cloud-3
  .cloud-left.cloud-segment
  .cloud-middle.cloud-segment
  .cloud-bottom.cloud-segment
  
.cloud.cloud-close.cloud-4
  .cloud-left.cloud-segment
  .cloud-middle.cloud-segment
  .cloud-bottom.cloud-segment